@import url(https://fonts.googleapis.com/css?family=IM+Fell+English);

* {
    font-family: 'IM Fell English', serif;
    color: rgba(27, 27, 27, 0.75);
    user-select: none;
}

img {
    pointer-events: none;
}

.ps__rail-y {
    z-index: 5;
}

.ps__rail-y:hover {
    background: transparent !important;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
